/* Module */
.module h1, .module h6 {
	color: #222;
}

/* Hero */
.module, .module_cover {
	background-position: 50%;
	background-repeat: no-repeat;
	background-color: #fff;
	background-size: cover;
	padding: 120px 0 100px;
}

.module_cover {
	background-image: url("../public/images/mountains.png");
	position: relative;
	padding: 240px 0 240px;
	z-index: 0;
}

.parallax:not(.bg-light) {
	color: #fff;
}

.parallax {
	background-color: transparent;
}

.fullscreen {
	padding: 0;
	height: 100vh;
}

.fullscreen .container, 
.fullscreen .container > .row {
	height: 100%;
}

.fullscreen .container > .row {
	align-items: center;
}

.module_cover .container {
	position: relative;
	z-index: 1;
}

.module_cover h1 {
	font-size: 4rem;
}

.parallax .container, .parallax .container_fluid {
	position: relative;
	z-index: 2;
}

#parallax_container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: -100;
}

.overlay_bg {
	background-color: #333;
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	opacity: .5;
}

/* About */
.lead {
	letter-spacing: .01875rem;
	font-size: .9375rem;
	font-weight: 400;
}

.space_lg {
	margin-top: 60px;
}

.space_sm {
	margin-top: 30px;
}

/* Icon box */
.icon_box {
	padding: 20px 0;
}

.icon_box .icon_box_title h6 {
	margin: 0 0 12px;
	font-weight: 500;
	font-size: .875rem;
}

.icon_box .icon_box_link {
	margin: 10px 0 0;
}

/* Insights */
.insights_masonry {
	height: 500px;
	position: relative;
}

.insight_preview {
	border-radius: .1875rem;
	transition: all .3s ease-in-out;
	margin: 0 0 35px;
}

.insight_preview img {
	border-radius: .1875rem;
}

.insights_masonry .insight_header .insight_title {
	font-size: 1rem;
	margin-bottom: 14px;
}

.insight_header .insight_title {
	font-weight: 500;
	font-size: 1.5625rem;
	margin-bottom: 8px;
}

/* Image */
.no_gutters > .container,
.no_gutters > .container_fluid {
	padding-left: 0;
	padding-right: 0;
}

/* Contact */
.form_group {
	margin-bottom: 1rem;
}

.form_control {
	border-width: 1px;
	padding: 1.0625rem .875rem;
	font-size: .75rem;
}

.btn {
	line-height: 1.5;
	font-size: .75rem;
	padding: 1rem 1.875rem;
	border-radius: .1875rem;
	letter-spacing: .1125rem;
	text-transform: uppercase;
	border: 2px solid transparent;
}

.btn:not(:disabled):not(.disabled) {
	cursor: pointer;
}

.btn_block {
	width: 100%;
	display: block;
}

.btn_brand {
	color: #fff;
	background-color: #505cfd;
	border-color: #505cfd;
}

.btn_brand:hover {
	color: #fff !important;
	background-color: #2a39fd !important;
	border-color: #2a39fd !important;
}

/* Counter */
.counter_number {
	color: #222;
	font-weight: 600;
	font-size: 3.125rem;
}
